# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PSR LAB\Lab4_zadanie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
